html,body{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.white-keys kbd{
    border: solid gray;
    display: inline-block;
    width: 10vw;
    max-width: 50px;
    background-color: white;
    text-align: center;
    padding-top: 28vh;
    padding-bottom: 2vh;
    margin: 0;
    float: left;
}

.black-keys kbd{
    border: solid gray;
    display: inline-block;
    width: 4vw;
    max-width: 40px;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 12vh;
    padding-bottom: 2vh;
    margin: 0;
    position: relative;
    right: 352px;
   margin-right: 6px;
}

.container{
    display: flex;
    height: fit-content;
    width: fit-content;
}
